TOKEN=TWOJ_TOKEN_BOTA
CLIENT_ID=ID_TWOJEJ_APLIKACJI
GUILD_ID=ID_TWOJEGO_SERWERA

# Kanały
OPINIE_CHANNEL_ID=ID_KANALU_OPINIE
LEGIT_CHECK_CHANNEL_ID=ID_KANALU_LEGIT_CHECK
TICKET_CATEGORY_ID=ID_KATEGORII_TICKETOW
LOG_CHANNEL_ID=ID_KANALU_LOGI

# Role
VERIFIED_ROLE_ID=ID_ROLI_ZWERYFIKOWANY
STAFF_ROLE_ID=ID_ROLI_STAFF
ADMIN_ROLE_ID=ID_ROLI_ADMIN
